.faq-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 100%;
    margin-bottom: 50px;

}

.faq-container h2 {
  margin-top: 40px; /* space above section */
  margin-bottom: 20px; /* space below section */
}

.faq-item {
  margin-bottom: 10px;
}

.faq-item button {
  width: 100%;
  text-align: left;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  transition: background 0.2s;
}

.faq-item button:hover {
  background-color: #e0e0e0;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

/* Expanded answer */
.faq-answer.expanded {
  max-height: 500px; /* adjust if answers are longer */
}

.faq-answer p {
  padding: 10px;
  background-color: #fafafa;
  margin: 0;
}
