.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;  /* Only take up part of the screen */
}

.form-input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-button {
  width: 95%;
  padding: 10px;
  margin: 20px 0;
  background-color: #007bff;
  color: white;
  border: none;  /* Remove default border */
  border-radius: 4px;
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.2s ease-in-out;
}

.form-button:hover {
  background-color: #0056b3;
}

.form-group {
  width: 100%;  
  max-width: 400px;  
  margin: 0 auto 20px auto; 
  text-align: left;
}

.input-description-label {
  display: block;
  font-weight: bold;
  font-size: 16px;
  color: #333;
}
