.business-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
}

.business-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}

.home-container{
  display: flex;
  flex-direction: column; 
  align-items: center;    
  text-align: center;    
  padding-top: 3rem;      
  padding-bottom: 3rem;
  gap: 1rem;           
}
